<mat-card>
  <form [formGroup]="postForm" (submit)="onSave(formDirective)" #formDirective="ngForm">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title"/>
      <mat-error *ngIf="f.title.hasError">Please Provide Title</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Content Of Post</mat-label>
      <textarea matInput rows="6" formControlName="content"></textarea>
      <mat-error *ngIf="f.content.hasError">Please Provide Content</mat-error>
    </mat-form-field>
    <button mat-raised-button [disabled]="!postForm.valid" type="submit" color="primary">
      Save Post
    </button>
  </form>
</mat-card>
